@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nanum+Gothic&family=Source+Sans+Pro:wght@400;700&family=Varela+Round&display=swap');

.navbar{
		font-family: 'Varela Round', Sans-serif;


}

.content{
		font-family: 'Varela Round', Sans-serif;
		font-size: 140%;

}

.jumbotron{
	font-family: 'Varela Round', Sans-serif;
}


.footer{
	background-color: #16304e;
	color: white;
	font-family: 'Nanum Gothic', Sans-serif;

}

i {
	padding: 10px;

}



.display-4{
	font-family: 'Varela Round', Sans-serif;

}

.service-row{
		font-family: 'Varela Round', Sans-serif;

}
.card-title{
	font-weight: bold;
}



.form-container{
	font-family: 'Varela Round', Sans-serif;
	padding: 20px;
	padding-top: 20px;
	color: white;
	border-radius: 20px;
	width: 50%;
}